@model IEnumerable<NHOM04.Models.Cart>

@{
    ViewData["Title"] = "Index";
}
<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0"><i class="fas fa-list">&nbsp DANH MỤC</i></h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 250px">
                    <a asp-area="" asp-controller="Home" asp-action="" class="nav-item nav-link "><i class="fas fa-home">&nbsp Trang chủ</i></a>
                    <a asp-area="" asp-controller="Products" asp-action="" class="nav-item nav-link "><i class="fas fa-tv">&nbsp Tivi</i></a>
                    <a asp-area="" asp-controller="Products" asp-action="" class="nav-item nav-link "><i class="fas fa-calendar-day">&nbsp Chi tiết</i></a>
                    <a asp-area="" asp-controller="Carts" asp-action="" class="nav-item nav-link active"><i class="fas fa-shopping-cart">&nbsp Giỏ hàng</i></a>
                    <a href="contact.html" class="nav-item nav-link"><i class="fas fa-question">&nbsp Về chúng tôi</i></a>
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 310px;">   
                        <div class="container-fluid bg-secondary mb-5">
                            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                                <h1 class="font-weight-semi-bold text-uppercase mb-3">Giỏ hàng TV</h1>
                                    <div class="d-inline-flex">
                    `                   <p class="m-0"><a href="">Trang chủ</a></p>
                                        <p class="m-0 px-2">-</p>
                                        <p class="m-0">Giỏ hàng</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Start -->
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-bordered text-center">
            <thead class="bg-secondary text-dark">
                <tr>
                    <th>Ảnh SP</th>
                    <th>Tên SP</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <img src="~/img/product/@item.Product.Image" style="width: 50px;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @item.Product.Price.ToString("#,##0")
                    </td>
                    <td>
                        @((item.Product.Price * item.Quantity).ToString("#,##0"))
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Bạn chắc chắn muốn hủy sản phẩm này?');">
                            <button  class="btn btn-danger">&times;</button>
                        </form>
                    </td>
                </tr>
        }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Tổng tiền:</td>
                    <td>@Model.Sum(c => c.Product.Price * c.Quantity).ToString("#,##0")</td>
                    <td>
                        <a asp-action="Purchase" class="btn btn-success">Đặt Hàng</a>
                        <form asp-action="DeleteAll" onsubmit="return confirm('Bạn chắc chắn muốn xóa?');" class="d-inline">
                            <button class="btn btn-danger">Xóa hết</button>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Cart End -->
    </div>
</div>
<!-- Navbar End -->





